@model Library.Entities.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name) @Html.DisplayFor(model => model.Author.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearPublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearPublication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            Publishing
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishing.Name)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
