
@{
    ViewBag.Title = "Index";
}


<div>
    <ul>
        <li class="navbar-text">@Html.ActionLink("Authors", "Index", "Author")</li>
        <li class="navbar-text" style="padding-left: 2em;">@Html.ActionLink("Cities", "Index", "City")</li>
        <li class="navbar-text" style="padding-left: 2em;">@Html.ActionLink("Countries", "Index", "Country")</li>
        <li class="navbar-text" style="padding-left: 2em;">@Html.ActionLink("Publishings", "Index", "Publishing")</li>
        <li class="navbar-text" style="padding-left: 2em;">@Html.ActionLink("Newspaper Name", "Index", "NewspaperName")</li>
    </ul>
</div>
